<dl class="bibshow">
{% for entry in entries %}
	<dt id="bibshow_{{ entry.key }}">{{ entry.index + 1 }}.</dt>
	<dd title='{{ entry.csl }}'>{{ entry.entry | raw }}&nbsp;<a href="#bibcite_{{ entry.key }}" class="backlink" title="Jump back to reference {{ entry.key }} in the text.">&#8610;</a></dd>
{% endfor %}
</dl>